$white-color: #ffff;
$green-color: #00BF6F;
$pink-color: #EF426F;
$blue-color: #363D87;
$blue-light-color: #00A9E0;
$gray-light-color: #F2F2F2;
$font-family: 'Muli', sans-serif;
$font-family-bold: 'MuliExtraBold', sans-serif;
$font-family-light: 'MuliLight', sans-serif;
$font-color: #2A2E31;