$white-color: #ffff;
$green-color: #00BF6F;
$pink-color: #EF426F;
$blue-color: #363D87;
$font-family: 'Muli';
$font-family-bold: 'MuliExtraBold';
$font-family-light: 'MuliLight';
$font-color: #2A2E31;