@import '../../styles/common/Variable.scss';

.whats-btn {
    display: flex;
    align-items: center;
    width: 50px;
    position: fixed;
    height: 50px;
    bottom: 50px;
    right: 80px;
    background-color: $white-color;
    border-radius: 25px;
    box-shadow: 3px 7px 23px rgba(42, 46, 49, 0.3);

    .whats-img {
        background-image: url('../../asserts/img/whats-color.png');
        height: 24px;
        width: 25px;
        margin: auto;
        background-size: 96%;
        background-repeat: no-repeat;
    }

}