@import '../../styles/common/Variable.scss';

.component6-container {
    display: flex;
    justify-content: space-between;
    background-color: $white-color;
    width: 100%;
    height: 445px;
    
    > .image-container {
        display: flex;
        width: 50%;

        > .image {
            width: 100%;
            height: 100%;

            > .description {
                background-color: $blue-color;
                font-family: $font-family-bold;
                font-size: 23px;
                color: $pink-color;
                width: 100%;
                height: 70%;

                > .text {
                    padding: 60px 80px 60px 0px;
                    width: 310px;
                    margin-left: 270px;
                    position: relative;

                    span {
                        color: $white-color;
                    }
                }
            }

            > .girl-heaset {
                position: relative;
                top: -100px;
                height: 234px;
                width: 490px;
                margin-left: auto;
                background-image: url('../../asserts/img/girl-headset.jpg');
                background-size: cover;
                background-repeat: no-repeat; 
            }

            > .subscribe-button {
                position: relative;
                top: -128px;
                right: -377px;
            }
        }
    }

    > .options-container {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: flex-start;

        > .options {
            width: 430px;
            margin-left: 65px;
            display: flex;
            flex-direction: column;

            .icon {
                height: 50px;
            }

            .text {
                padding: 0 25px;
                font-family: $font-family-light;
                font-size: 14px;
                margin: auto;

                span {
                    font-family: $font-family-bold;
                }
            }

            > .google {
                display: flex;
                padding: 28px;
            }

            > .win {
                display: flex;
                padding: 28px;
            }

            > .build {
                display: flex;
                padding: 28px;
            }
        }
    }
}