@import '../../styles/common/Variable.scss';

.component1-container {
    display: flex;
    width: 100%;
    height: 521px;
    justify-content: space-between;
    background-color: $white-color;

    > .subscribe-container { 
        width: 100%;
        display: flex;
        align-items: center;

        > .text-container {
            display: flex;
            flex-direction: column;
            width: 286px;

            > .title {
                font-family: $font-family-bold;
                font-size: 36px;
                font-weight: bolder;
            }

            > .description {
                font-family: $font-family-light;
                font-size: 13px;
                padding: 20px 0;

                > .sub-title {
                    font-family: $font-family-bold;
                }
            }
        }
    }

    > .image-container {
        position: relative;

        > .image {
            width: 55vw;
            height: 600px;
            background-size: cover;
            background-repeat: no-repeat;        
            background-image: url('../../asserts/img/component1-img.png');
        }
    }
}


@media screen and (max-width: 1024px) {
    .component1-container {
        .text-container {
            margin-left: 20%;
        }
    }
}

@media screen and (min-width: 1025px) {
    .component1-container {
        .text-container {
            margin-left: 40%;
        }
    }
}