@import '../../styles/common/Variable.scss';

.button-container {
    cursor: pointer;
    background-color: $pink-color;
    width: 270px;
    height: 50px;
    display: flex;
    box-shadow: 8px 8px $blue-color;
    transition: all 350ms ease-in-out;

    > .text {
        color: $white-color;
        font-family: $font-family-bold;
        font-size: 13px;
        margin: auto;
    
        &::before {
            content: 'QUERO ME CANDIDATAR';
        }
    }

    &:hover {
        transition: all 350ms ease-in-out;
        box-shadow: 3px 3px $blue-color;

        > .text {
            &::before {
                content: 'QUERO ME INSCREVER';
            }
        }
    }
}